name: Build apk and upload to github

on:
  push:
    branches: [Automatization_Feature] #Testing in this branch
  pull_request:
    branches: [master]
  

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2
      - name: Install and set Flutter version
        uses: subosito/flutter-action@v1.5.3
        with:
          channel: 'stable'
      - name: Restore packages
        run: flutter pub get
        
      - name: Build apk
        run: flutter build apk --release
      
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/app/outputs/apk/release/app-release.apk
          asset_name: ZacatrusApp.apk
          tag: "0.1.0"
          overwrite: true
          body: "Release for android on Zacatrus"
